<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ report_title }}</title>
        <meta name="description" content="{{ report_desc }}">
        <meta name="author" content="Zachary LeBlanc">

        <meta property="og:title" content="{{ report_title }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ report_desc }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <style>
            .wrapper { margin: 20px; }
            #donut-wrapper { max-height: 300px; display: flex; justify-content: center; align-items: center; }
            .fancySearchRow input { padding: 5px; margin: 10px 0px; }
            #facts-modal .modal-dialog { max-width: 100%; margin: 20px; }
            .table td.facts-col { padding: .5rem .75rem }
            .btn-facts { padding: 2px 4px; }
            @media print { .skip-print { visibility: hidden; } }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <span>{{ report_title }}</span>
                </a>
                <span class="navbar-text" style="color: grey">
                <i>{{ report_subtitle }}</i>
                </span>
            </div>
        </nav>
        <div class="wrapper">
          {% if gateway_host is defined %}
          <div id="gateway">
            <h5>Gateway</h5>
            {% if gateway_success %}
            <table id="gateway-table" class="table table-striped">
                <tbody>
                {% for key in r_health_check_gateway.results[0].json.keys() %}
                  {% set val = r_health_check_gateway.results[0].json[key] %}
                  <tr>
                    <td>{{ key }}</td>
                    {% if key == 'status' and val == 'good' %}
                    <td>✅</td>
                    {% elif key == 'status' and val != 'good' %}
                    <td>⚠️</td>
                    {% elif key in ['db_connected','proxy_connected'] and val %}
                    <td>✅</td>
                    {% elif key in ['db_connected','proxy_connected'] and not val %}
                    <td>⚠️</td>
                    {% else %}
                    <td>{{ val }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <h5>
              Gateway
              <small class="text-muted">| Services</small>
            </h5>
            <table id="gateway-services-table" class="table table-striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Nodes</th>
                  </tr>
              </thead>
              <tbody>
              {% for service in r_health_check_gateway.results[1].json.services %}
                <tr>
                  <td>{{ service['service_name'] }}</td>
                  {% if service['status'] == 'good' %}
                  <td>✅</td>
                  {% else %}
                  <td>⚠️</td>
                  {% endif %}
                  <td>
                      {% if service['nodes'] | length %}
                      <ul class="list-unstyled" style="margin-bottom: 0;">
                        {% for node in service['nodes'] %}
                        <li>{{ node }}
                          <span style="margin-left: 12px">{% if service['nodes'][node]['status'] == 'good' %}✅{% else %}⚠️{% endif %}</span>
                        </li>
                        {% endfor %}
                      </ul>
                      {% else %}
                      <span style="font-style: italic;">Not applicable</span>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>🚨 Gateway health probe failed, something is wrong 🚨</p>
            {% endif %} <!-- gateway_success -->
          </div>
          {% endif %} <!-- gateway_host -->
          <div id="controller">
            <h5>Controller</h5>
            {% if controller_success %}
            <p>Active Node 
              <strong>{{ r_health_check_controller.json.active_node }}</strong> 
              running 
              <strong>{{ r_health_check_controller.json.version }}</strong>
            </p>
            <h5>
              Controller
              <small class="text-muted">| Instance Groups</small>
            </h5>
              <table id="controller-instance-groups-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Instances</th>
                    </tr>
                </thead>
              <tbody>
              {% for group in r_health_check_controller.json.instance_groups %}
                <tr>
                  <td>{{ group['name'] }}</td>
                  <td>{{ group['capacity'] }}</td>
                  <td>
                      {% if group['instances'] | length %}
                      <ul class="list-unstyled" style="margin-bottom: 0;">
                        {% for instance in group['instances'] %}
                        <li>{{ instance }} ({{ instance_type[instance] }}) capacity={{ instance_capacity[instance] }}</li>
                        {% endfor %}
                      </ul>
                      {% else %}
                      <span style="font-style: italic;">No instances</span>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>🚨 Controller health probe failed, something is wrong 🚨</p>
            {% endif %} <!-- controller_success -->
          </div>
          <div id="pah">
            <h5>Private Automation Hub</h5>
            {% if pah_success %}
              <table id="pah-table" class="table table-striped">
                <tbody>
                  <tr>
                    <td>database connection</td>
                    {% if r_health_check_pah['json']['database_connection']['connected'] %}
                    <td>✅</td>
                    {% else %}
                    <td>⚠️</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>redis connection</td>
                    {% if r_health_check_pah['json']['redis_connection']['connected'] %}
                    <td>✅</td>
                    {% else %}
                    <td>⚠️</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>storage</td>
                    <td>{{ pah_used_readable }} out of {{ pah_total_readable }} used
                      {% if (pah_free_pct | int) > 50 %}
                      <span style="color: #63993d">({{ pah_free_pct }}% free)</span>
                      {% elif (pah_free_pct | int) > 30 %}
                      <span style="color: #b98412">({{ pah_free_pct }}% free)</span>
                      {% else %}
                      <span style="color: #ee0000">({{ pah_free_pct }}% free)</span>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
            </table>
            <h5>
              Private Automation Hub
              <small class="text-muted">| Components</small>
            </h5>
            <table id="pah-components-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Package</th>
                        <th>Module</th>
                        <th>Version</th>
                    </tr>
                </thead>
              <tbody>
              {% for component in r_health_check_pah['json']['versions'] %}
                <tr>
                  <td>{{ component['component'] }}</td>
                  <td>{{ component['package'] }}</td>
                  <td>{{ component['module'] }}</td>
                  <td>{{ component['version'] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>🚨 Private Automation Hub health probe failed, something is wrong 🚨</p>
            {% endif %} <!-- pah_success -->
          </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
        <script src="js/json-viewer.js"></script>
    </body>
</html>